<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323718565144-ifietjhahfcocgoilnv5q9psjjd8gpu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323718565144-ifietjhahfcocgoilnv5q9psjjd8gpu6</string>
	<key>API_KEY</key>
	<string>AIzaSyD6aYCc2qQEDRpq8KJYDa_6TY0tkXtawW4</string>
	<key>GCM_SENDER_ID</key>
	<string>323718565144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solarissense.battlelang</string>
	<key>PROJECT_ID</key>
	<string>battle-lang</string>
	<key>STORAGE_BUCKET</key>
	<string>battle-lang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323718565144:ios:154e48830a4008e111226d</string>
</dict>
</plist>